<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rota 116</title>
    <style>
      body {
        margin: 0;
        padding: 60px 0 20px;
        text-align: center;
        background-color: #efefef;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .backends {
        margin: 50px auto;
      }

      .backends form {
        display: inline-block;
      }

      .backends button {
        width: 120px;
        margin: 0 10px;
        font-size: 1rem;
        border-radius: 4px;
        padding: 10px 15px;
        text-transform: uppercase;
        border: 2px solid #2c2c2c;
        background-color: #ffd500;
      }

      .backends button.selected {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <svg width="118" height="124" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M109.98 107.613l-49 13.413a7.5 7.5 0 01-3.96 0l-49-13.413a7.489 7.489 0 01-3.982-2.684 7.489 7.489 0 01-1.538-4.55V10c0-2.071.84-3.946 2.197-5.303A7.477 7.477 0 0110 2.5h98c2.071 0 3.946.84 5.303 2.197A7.477 7.477 0 01115.5 10v90.38c0 1.689-.565 3.274-1.538 4.549a7.489 7.489 0 01-3.982 2.684z" stroke="#2C2C2C" stroke-width="5" fill="#FFD500"/><path d="M24.61 38v-7.89h5.34L33.19 38h4.02l-3.66-8.61c2.16-1.18 3.24-2.96 3.24-5.34 0-2.34-1.03-4.11-3.09-5.31-.98-.56-2.13-.84-3.45-.84h-9.24V38h3.6zm5.7-11.49h-5.7V21.5h5.7c.88 0 1.58.23 2.1.69.52.46.78 1.08.78 1.86 0 .74-.26 1.335-.78 1.785-.52.45-1.22.675-2.1.675zm19.17 11.85c2.52 0 4.535-.965 6.045-2.895 1.51-1.93 2.265-4.465 2.265-7.605 0-3.08-.765-5.565-2.295-7.455-1.53-1.89-3.535-2.835-6.015-2.835-2.64 0-4.72.925-6.24 2.775-1.52 1.85-2.28 4.375-2.28 7.575 0 2.82.68 5.19 2.04 7.11 1.56 2.22 3.72 3.33 6.48 3.33zm0-3.6c-1.52 0-2.71-.605-3.57-1.815-.86-1.21-1.29-2.885-1.29-5.025 0-2.12.43-3.78 1.29-4.98.86-1.2 2.05-1.8 3.57-1.8 1.5 0 2.665.6 3.495 1.8.83 1.2 1.245 2.86 1.245 4.98 0 1.88-.32 3.41-.96 4.59-.8 1.5-2.06 2.25-3.78 2.25zM70.18 38V21.44h5.79V17.9H60.88v3.54h5.79V38h3.51zm11.88 0l1.98-4.71h8.76L94.75 38h3.9l-8.4-20.1h-3.66L78.13 38h3.93zm9.18-8.31H85.6l2.82-6.78 2.82 6.78zM35.68 94V53.8h-5.76c-1.32 2.12-3.44 3.48-6.36 4.08v6.06h5.04V94h7.08zm21.3 0V53.8h-5.76c-1.32 2.12-3.44 3.48-6.36 4.08v6.06h5.04V94h7.08zm24.54.72c4.52 0 8.21-1.17 11.07-3.51 2.86-2.34 4.29-5.31 4.29-8.91 0-3.52-1.42-6.42-4.26-8.7-2.84-2.28-6.44-3.42-10.8-3.42-3 0-5.74.44-8.22 1.32 3.4-6.4 9.28-10.26 17.64-11.58v-6.78c-7.48.12-13.79 2.82-18.93 8.1-5.14 5.28-7.75 11.22-7.83 17.82 0 4.96 1.64 8.81 4.92 11.55 3.28 2.74 7.32 4.11 12.12 4.11zm-.24-7.32c-2.52 0-4.58-.53-6.18-1.59-1.6-1.06-2.34-2.37-2.22-3.93-.04-1.48.67-2.63 2.13-3.45 1.46-.82 3.55-1.23 6.27-1.23 2.52 0 4.56.47 6.12 1.41 1.56.94 2.34 2.19 2.34 3.75 0 1.48-.78 2.69-2.34 3.63-1.56.94-3.6 1.41-6.12 1.41z" fill="#2C2C2C" fill-rule="nonzero"/></g></svg>
    <div class="backends">
      <h3>Which backend to use?</h3>
      <% backends.forEach(function(backend) { %>
      <form method="POST">
        <input type="hidden" name="backend" value="<%= backend %>" />
        <button type="submit"<%- selectedBackend == backend ? ' class="selected"' : '' %>><%= backend %></button>
      </form>
      <% }) %>
    </div>
    <p>All requests to <strong><%= currentUrl %></strong> will be routed to <strong><%= backendUrl %></strong>.</p>
  </body>
</html>
